# ============================
# Dataset Folders
# ============================
Alzheimer_Dataset/

# ============================


# ============================
# Output Files & Logs
# ============================
outputs/

# ============================
# Reports (Generated)
# ============================
reports/

# ============================
# Jupyter Notebook Checkpoints
# ============================
.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/

# ============================
# Python Cache & Bytecode
# ============================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# ============================
# Virtual Environments
# ============================
venv/
env/
ENV/
.venv

# ============================
# IDE & Editor Files
# ============================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# ============================
# Streamlit App Cache
# ============================
.streamlit/
